import(GenomicRanges)
import(IRanges)
import(BSgenome)
import(Biobase)
importFrom(GenomicAlignments, readGAlignments)
exportMethods(tabulateReads, totalReadCounts)
importFrom(methods, as)
import(Rsamtools)
import(S4Vectors)
import(parallel)
